DATABASE_URL="postgresql://trainsmart:trainsmart@localhost:5432/trainsmart?schema=public"
JWT_ACCESS_SECRET="change-me-access-secret-min-32-chars"
JWT_REFRESH_SECRET="change-me-refresh-secret-min-32-chars"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
